*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: black;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgb(230, 9, 9);
}
.name {
  /* margin: 0 auto; */
  outline: none;
  background: white;
  border: 1px solid rgb(199, 148, 148);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgb(199, 148, 148);
}
.search {
  /* margin: 0 auto; */
  margin-top: 10px;
  outline: none;
  background: white;
  border: 1px solid rgb(16, 221, 95);
  width: 100%;
  padding: 10px;
}
